<div>
  <h1 class="text-center"><%= @user.name %>のページ</h1>
  <p class="text-center">メールアドレス: <%= @user.email %></p>

  <%= image_tag(@user.image.url, :size =>'100x100') if @user.image && @user.image.url %>

  <br></br>

  <%= link_to 'お気に入り一覧', favorites_path %>
  <%= link_to "編集する", edit_user_path(@user.id) %>
</div>
