<%= render 'header' %>
<p id="notice"></p>

<h1 class="text-center">Pictures</h1>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-md-offset-3">
          <% @pictures.each do |picture| %>
          <div class="thumbnail">
            <p class="text-center"><%= picture.user.name %></p>
            <p class="text-center"><%= image_tag picture.image.url%></p>
            <div class="caption">
              <p class="text-center"><%= picture.content%></p>
              <p>
                <%= link_to 'Show', picture, class: 'btn btn-primary' %>
                <% if current_user.id == picture.user_id %>
                  <%= link_to 'Edit', edit_picture_path(picture), class: 'btn btn-primary'%>
                  <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } ,class: 'btn btn-primary' %>
                <% else %>
                <% end %>
              </p>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
