<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <% if logged_in? %>
          <p class="navbar-text"><%= link_to(root_path) do %><span class="glyphicon glyphicon-home" aria-hidden="true" style="font-size:20px;" ></span><% end %></p>
          <p class="navbar-text"><%= link_to(pictures_path) do %><span class="glyphicon glyphicon-th-list" aria-hidden="true" style="font-size:20px;" ></span><% end %></p>
          <p class="navbar-text"><%= link_to(new_picture_path) do %><span class="glyphicon glyphicon-comment" aria-hidden="true" style="font-size:20px;" ></span><% end %></p>
          <p class="navbar-text navbar-right"><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></p>
          <p class="navbar-text navbar-right"><%= link_to(user_path(current_user.id)) do %><span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size:20px;" ></span><% end %></p>
          <p class="navbar-text navbar-right"><%= link_to "ユーザー一覧", users_path%></p>
        <% else %>
        <p class="navbar-text navbar-right"><%= link_to "新規登録", new_user_path %></p>
        <p class="navbar-text navbar-right"><%= link_to "ログイン", new_session_path %></p>
        <% end %>
      </div>
    </div>
</nav>
